USE [projectPRN]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05/05/2021 20:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Products] ([id], [name], [price], [image]) VALUES (1, N'Nem Nướng', 35, N'img/1.jpeg')
INSERT [dbo].[Products] ([id], [name], [price], [image]) VALUES (2, N'Bún Chả', 30, N'https://hanoi1000.vn/wp-content/uploads/2020/01/bun-cha-ha-noi-anh-3.jpg')
/****** Object:  Table [dbo].[Order]    Script Date: 05/05/2021 20:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[name] [nchar](100) NULL,
	[tel] [nchar](100) NULL,
	[address] [nchar](100) NULL,
	[time] [datetime] NULL,
	[status] [bit] NULL,
	[quantity] [int] NULL,
	[stt] [nchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([id], [pid], [name], [tel], [address], [time], [status], [quantity], [stt]) VALUES (15, 1, N'dam duc hai                                                                                         ', N'0123456789                                                                                          ', N'hoa lac                                                                                             ', CAST(0x0000ACE000000000 AS DateTime), 0, 1, N'Đang giao                                                                                           ')
INSERT [dbo].[Order] ([id], [pid], [name], [tel], [address], [time], [status], [quantity], [stt]) VALUES (16, 1, N'ádads                                                                                               ', N'0123456789                                                                                          ', N'dsadasasd                                                                                           ', CAST(0x0000ACFA0158689D AS DateTime), 0, 1, N'Ðang giao                                                                                           ')
INSERT [dbo].[Order] ([id], [pid], [name], [tel], [address], [time], [status], [quantity], [stt]) VALUES (17, 1, N'đâsád                                                                                               ', N'0123456789                                                                                          ', N'sdaasdấds                                                                                           ', CAST(0x0000ACFA0158BD24 AS DateTime), 0, 1, N'Ðang giao                                                                                           ')
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 05/05/2021 20:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[username] [nchar](100) NOT NULL,
	[password] [nchar](100) NOT NULL,
	[rule] [bit] NULL,
	[tel] [nchar](10) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([id], [name], [username], [password], [rule], [tel]) VALUES (1, N'admin                                                                                               ', N'admin                                                                                               ', N'admin                                                                                               ', 1, N'0123456789')
INSERT [dbo].[Account] ([id], [name], [username], [password], [rule], [tel]) VALUES (2, N'Shipper A                                                                                           ', N'a                                                                                                   ', N'a                                                                                                   ', 0, N'0382907147')
SET IDENTITY_INSERT [dbo].[Account] OFF
